{% block head_scripts %}
<script type="module" src="/ah_history/static/js/chat-sessions.js"></script>
{% endblock %}


{% block pre_content  %}
<div class="history-container">
    <chat-sessions></chat-sessions>
</div>

{% endblock %}
