{% block pre_content  %}
<div class="history-container">
    <script type="module" src="/static/plugins/ah_history/js/chat-sessions.js"></script>
    <chat-sessions></chat-sessions>
</div>

{% endblock %}
